$mediumUpScreen: "only screen and (max-width: 1300px)";
$mediumDownScreen: "only screen and (max-width: 920px)";
// Mobile
$mobileUpScreen: "only screen and (max-width: 620px)";
$mobileScreen: "only screen and (max-width: #{$mobile})";