    // Layout
    $desktop: 1440px;
    $mobile: 375px;

    // Colors
    $primary__soft_orange: hsl(35, 77%, 62%);
    $primary__soft__red: hsl(5, 85%, 63%);
    $neutral__off__white: hsl(36, 100%, 99%);
    $neutral__grayish__blue: hsl(233, 8%, 79%);
    $neutral__dark__grayish__blue: hsl(236, 13%, 42%);
    $neutral__very__dark__blue: hsl(240, 100%, 5%);

    // Typography
    $body__fontSize__paragraph: 15px;
    $font__family: 'Inter',
        sans-serif;
    $font__weights__regular: 400;
    $font__weights__bold: 700;
    $font__weights__extraBold: 800;