@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
// Imports scss
@import './_reset';
@import './_variables';
@import './_mixins';
// Responsive
@import './_responsive';

:root {
    * {
        font-family: $font__family;
        list-style-type: none;
        outline: none !important;
    }

    body {
        max-width: $desktop;
        background: $neutral__off__white;
        margin: auto;
        padding: 5rem 10rem;
        overflow-x: hidden;

        @media #{$mediumUpScreen} {
            padding: 3.8rem 7rem;
        }

        @media #{$mediumDownScreen} {
            padding: clamp(1rem, 4vh, 4.5rem);
        }

        @media #{$mobileUpScreen} {
            padding: 2.5rem 2rem;
        }

        @media #{$mobileScreen} {
            max-width: $mobile;
            padding: 1.5rem 1rem;
        }
    }

    h1 {
        font-size: 45px;
        font-weight: $font__weights__extraBold;
        line-height: 1.1;
    }

    h2 {
        font-size: 35px;
        font-weight: $font__weights__bold;
        margin-bottom: 3rem;
    }

    h3 {
        font-size: 17px;
        font-weight: $font__weights__bold;
        margin-bottom: .8rem;
        transition: color .25s;
        line-height: initial;

        &:hover {
            cursor: pointer;
        }
    }

    p {
        font-size: $body__fontSize__paragraph;
        color: $neutral__dark__grayish__blue;
        line-height: 1.5rem;
    }

    span {
        font-size: 25px;
        color: $neutral__grayish__blue;
        font-weight: $font__weights__bold;
    }
}

header {
    .container__header {
        @include position;
        justify-content: space-between;
    }

    nav {

        @media #{$mediumDownScreen} {
            display: flex;
        }

        #open {
            display: none;

            @media #{$mediumDownScreen} {
                visibility: visible;
                display: flex;
                background: $neutral__off__white;
                border: none;
                cursor: pointer;
            }
        }

        #close {
            display: none;
            visibility: hidden;
            background: $neutral__off__white;
            border: none;
            margin-top: 1.5rem;
            margin-left: 10rem;
            cursor: pointer;
        }

        .container__nav__links {
            @media #{$mediumDownScreen} {
                transform: translateX(220px);
                background: $neutral__off__white;
                position: absolute;
                top: 0;
                right: 0;
                width: 220px;
                height: 100vh;
                z-index: 1;
            }
        }

        .container__nav__links ul {
            @include position;
            visibility: visible;
            column-gap: 2rem;

            @media #{$mediumDownScreen} {
                flex-direction: column;
                align-items: flex-start;
                row-gap: 2rem;
                font-weight: $font__weights__bold;
                margin-top: 5rem;
                margin-left: 1.3rem;
            }

            li {
                transition: color .25s;

                &:hover {
                    color: $primary__soft__red;
                    cursor: pointer;
                }
            }
        }
    }
}

main {
    padding: 4rem 0 5rem;

    @media #{$mediumDownScreen} {
        padding: 2.6rem 0 5rem;
    }

    @media #{$mobileScreen} {
        padding: 1.8rem 0 5rem;
    }

    section {
        &.container__main {
            @include position;
            align-items: initial;
            column-gap: 1.5rem;

            @media #{$mediumUpScreen} {
                flex-wrap: wrap;
            }

            article {
                &.container__main__article {
                    display: flex;
                    flex-direction: column;
                    width: 70%;

                    @media #{$mediumUpScreen} {
                        width: 100%;
                    }

                    .main__article__img {
                        img {
                            width: 100%;
                            height: auto;
                        }

                        #desktop__img {
                            display: block;

                            @media #{$mediumDownScreen} {
                                display: none;
                            }
                        }

                        #mobile__img {
                            display: none;

                            @media #{$mediumDownScreen} {
                                display: block;
                            }
                        }
                    }
                }

                .container__article__text {
                    @include position;
                    align-items: initial;
                    justify-content: space-between;
                    column-gap: 4rem;
                    margin-top: 1.5rem;
                    width: 100%;

                    @media #{$mediumUpScreen} {
                        flex-direction: column;
                        row-gap: 1rem;
                    }

                    .main__article__description {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @media #{$mediumUpScreen} {
                            row-gap: 1.5rem;
                        }

                        .main__article__button {
                            button {
                                background: $primary__soft__red;
                                color: $neutral__off__white;
                                border: none;
                                font-variant-caps: all-small-caps;
                                padding: .8rem 1.3rem;
                                width: 45%;
                                font-size: 19px;
                                letter-spacing: 2px;
                                transition: background .25s;

                                @media #{$mediumUpScreen} {
                                    // width: 30%;
                                }

                                @media #{$mediumDownScreen} {
                                    padding: 0.8rem 0.6rem;
                                }

                                &:hover {
                                    background: $neutral__very__dark__blue;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            aside {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media #{$mediumUpScreen} {
                    margin-top: 4rem;
                }

                &.container__new {
                    background: $neutral__very__dark__blue;
                    color: $neutral__off__white;
                    width: 30%;
                    padding: 1.8rem 1.3rem;

                    @media #{$mediumUpScreen} {
                        width: 100%;
                    }

                    h2 {
                        color: $primary__soft_orange;
                    }

                    h3 {
                        &:hover {
                            color: $primary__soft_orange;
                        }
                    }

                    .container__new__article {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;

                    }

                    .new__article {
                        p {
                            color: $neutral__grayish__blue;
                        }
                    }

                    hr {
                        background: $neutral__dark__grayish__blue;
                        height: 1px;
                        border: none;
                        width: 100%;
                        margin: 1.5rem 0;
                    }
                }
            }
        }

        &.container__list {
            display: flex;
            justify-content: space-between;
            margin-top: 4rem;
            width: 100%;

            @media #{$mediumUpScreen} {
                flex-direction: column;
                align-items: flex-start;
                row-gap: 2rem;
            }

            .container__list__article {
                @include position;
                align-items: initial;
                column-gap: 1.3rem;
                min-width: calc(100%/3);

                .list__article__img {
                    margin: auto 0;

                    img {
                        width: 100px;
                        height: auto;
                    }
                }

                .list__article__description {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-around;
                    flex-direction: column;

                    @media #{$mediumUpScreen} {
                        // padding: 1rem 0;
                    }

                    h3 {
                        margin-bottom: 0;

                        &:hover {
                            color: $primary__soft__red;
                        }
                    }
                }
            }
        }
    }

    .overlay {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #333;
        opacity: .6;
    }
}